

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.navbar{
    padding: 2px 0;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.158);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.183);

}

.navbar-brand{
  color: rgb(0, 0, 0);
  font-weight: bold;

}

.nav-item a{
  color: black;
  transition: 0.4s ease;
}

.nav-item a:hover {
  color: rgb(0, 179, 255);
}

.nav-item .active{
    color: rgb(0, 179, 255) ;
}
.icons i{
  padding: 0 3px;
  color: black;
  transition: 0.3s ease;

}
.icons i:hover{
   color: rgb(0, 179, 255);
   cursor: pointer;
}


/*  */

.image img{
  width: 100%;


  border-radius: 10px;
}

/*  */


.image-about{
  text-align: end;
}
.image-about img{
  width: 75%;

  border-radius:8px;

}
.about-content{
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin-bottom: 15px;
  padding: 2px 0;
  border-radius: 6px;
  transition: 0.3s ease;
}
.about-content:hover{
  transform: translateY(5px);
  box-shadow: none;
}


/*  */

.Card{
  background-color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.Card img{
  width: 100%;
  padding: 5px;
  border-radius: 4px;

}
.Card small,p,h3{
  padding: 0 8px;
}

.Card button{

  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  width: 92%;
  margin: 0 auto;
  transition: 0.4s ease;


}


.Card button:hover{
  color: white;
  background-color: rgb(33, 33, 33);
}

.hr{
  background-color: rgb(0, 179, 255);
  border: none;
  padding: 2px 0;
  margin-top: 0;
  margin-bottom: 30px;
  width: 15%;
}

/* panier */


.cart-item {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);

}

.cart-img {
  width: 90%;
  object-fit: cover;
  border-radius: 8px;

}


.btn-danger {
  font-size: 14px;
  padding: 6px 12px;
}

/* footer */